{%extends 'base.html'%}
{% block styles %}
{{super()}}
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/particle.css')}}"> -->
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
<style>
   body{
       background-image: url('https://images.vexels.com/media/users/3/101865/raw/92564e7e8084749083b3141f6b11c7ba-abstract-butterfly-background-design.jpg?w=1800&fmt=webp'); 
       background-size: cover;
       background-repeat: no-repeat;
       height: 500px;

   }
</style>
{% endblock %}
{%block content%}

   <div class="card">

    <h1>{{user.username}}</h1>
    <h1>{{user.email}}</h1>
   </div>

{%endblock%}